.monthly-summary-sec-inner {
  width: 250px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.month-sum-list > li {
  border-bottom: 0;
}

.disp-sec-sum > div{
  padding-top: 20px;
}

.disp-sec-sum > div > div{
  padding-top: 10px;
  font-size: 15px;
}