* {
  transition: background-color 1s ease;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: var(--calendar-icon-filter);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Dark mode colors */
  --border: #e9e9e938;
  --bg-color: #151515;
  --text-color: #e9e9e9;
  --button-bg: #353535;
  --opacity: 1;
  --income-text-color: rgba(0, 255, 85, 0.781);
  --modal-bg-color: #252525;
  --input-color: black;
  --calendar-icon-filter: invert(0);
}

/* Light mode colors */
[data-theme='light'] {
  --border: #00000031;
  --bg-color: #e5e5e5;
  --text-color: #000000;
  --button-bg: #bdbdbd;
  --opacity: 0.4;
  --income-text-color: rgb(0 209 35 / 78%);
  --modal-bg-color: #e2e2e2;
  --input-color: white;
  --calendar-icon-filter: invert(1);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: 14px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  text-decoration: underline;
  font-size: 18px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 3px 10px ;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  color: var(--text-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  list-style: none;
}

input {
  height: 25px;
  width: 90%;
  border: none;
  padding: 5px;
  border-radius: 7px;
  background-color: var(--input-color);
  color: var(--text-color);
}

select {
  height: 25px;
  width: 90%;
  border: none;
  padding: 5px;
  border-radius: 7px;
  background-color: var(--input-color);
  color: var(--text-color);
}

table {
  border-collapse: collapse;
}

td {
  text-align: center;
}

th, td {
  padding: 12px 8px;
  border: 1px solid #e9e9e925;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 100px;
}
